/* Палитра
color: #212121; цвет основного текста
color: #757575; цвет текста второстепенный
color: #2196F3; цвет акцента
color: #FFFFFF; для адреса
color: rgba(255, 255, 255, 0.6); для ссылок в футере
color: #000000; цвет лого 2й части

background: #FFFFFF; основной
background: #2F303A; цвет фона hero и футера
background: #F5F4FA; цвет фона секции наша команда
 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-background-color: #f5f4fa;
}

/* Main features */

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

/* header */
/* Лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--logo-color);
}
.logo span {
  color: var(--primary-accent-color);
}

.logo:focus,
.logo:hover {
  text-decoration: underline;
}

/* Main links */
.main-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.main-nav a:visited {
  color: var(--primary-text-color);
}

.main-nav .link:hover,
.main-nav .link:focus,
.contacts-nav .link:focus,
.contacts-nav .link:hover {
  color: var(--primary-accent-color);
}

.main-nav .current .link {
  color: var(--primary-accent-color);
}
.main-nav .current .link:hover {
  text-decoration: underline;
}

/* contacts navigation */
.contacts-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

/* Main page */

/* hero */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.hero-button:focus,
.hero-button:hover {
  color: var(--primary-accent-color);
  background-color: var(--primary-background-color);
}

/* common section features */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* section Наши преимущества  */
.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* section Чем мы занимаемся  */
.works a > img:hover,
.works a > img:focus {
  border-style: solid;
  border-width: 3px;
  border-color: var(--primary-accent-color);
}

/* section Наша команда */
.team {
  background-color: var(--section-background-color);
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #757575;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer .logo {
  color: var(--secondary-accent-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-accent-color);
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-link-color);
}

.footer-contact:focus,
.footer-contact:hover {
  color: var(--primary-accent-color);
}

/* Portfolio page */
/* filter */
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.filter .current {
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.filter .current:hover,
.filter .current:focus {
  color: var(--primary-accent-color);
  background-color: var(--secondary-accent-color);
  border: solid 2px var(--primary-accent-color);
}

/* Examples */
.example-card h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.example-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
